* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   /* html font-size = 10px/16px en % */
   font-size: 62.5%;
}
.container {
   display: flex;
   flex-wrap: wrap
}
.header {
   flex-basis: 100%;
   background: #2B2024;
   color: #FFFFFF;
   font-size: 2rem;
}
.footer {
   flex-basis: 100%;
   background: #2B2024;
   color: white;
   font-size: 1.8rem;
}
.main {
   flex-basis: 60%;
   font-size: 1.5rem;
   text-align: center;
   background: #FD0054;
}
.aside-1 {
   flex-basis: 40%;
   background: #A80038;
    font-size: 1.5rem;
}
.aside-2 {
   flex-basis: 10%;
   background: #A80038;
    font-size: 1.5rem;
}
img{
    width: 100%;
}
@media screen and (max-width:800px) {
   .main {
      flex-basis: 100%;
   }
   .aside-1 {
      flex-basis: 50%;
   }
   .aside-2 {
      flex-basis: 50%;
   }
}
@media screen and (max-width:500px) {
   .aside-1 {
      flex-basis: 100%;
   }
   .aside-2 {
      flex-basis: 100%;
   }
}