body{
    width:100%;
    height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin:auto;
}

.header, .footer{
    background: tomato;
    height: 100px;
    width: 100%;
}

article{
    display: block;
    overflow: scroll;
    flex: 1 1 0px;
}