.container{
    background: aqua;
    padding: 10px;
    min-height: 350px;
    margin: 10px;
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap
}
.item{
    background: white;
    min-height: 90px;
    margin: 10px;
}